h2 {
  text-align: center;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.job {
  background: rgb(245,245,245);
}

.sorting-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 40%;
  margin: 2vh auto;
}

  .sorting-btns > button:hover {
    border: 1px solid rgb(14, 110, 253);
    background: rgb(14, 110, 253);
    color: white;
  }

.icon {
  cursor: pointer;
}
  .icon:hover {
    color: rgb(14, 110, 253);
  }

#addjobform {
  width: 80%;
  margin: 1vh auto;
}
  #addjobform > button {
    display: flex;
    margin: 1.5vh auto;
  }

#editjobform {
  display: flex;
  flex-direction: column;
}
  .modal-footer > button {
    display: flex;
    margin: 0 auto;
  }
  .modal-title {
    margin: 0 auto;
  }

#company-modal .modal-dialog {
  max-width: 80vw;
}


#company-modal  .modal-body {
  display: flex;
  flex-wrap: wrap;
  border:  1px solid red;
  padding: 0;
}
.modal-info, .modal-resources {
  width: 50%;
}
.modal-body-part {
  width: 100%;
  border:  1px solid blue;
}

.modal-body-part > h3 {
  text-align: center;
}
